* {
    margin: 0;
    list-style: none;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#logo img {
    width: 70px;
    background-size: cover;
    height: auto;
}

#logo {
    display: flex;
    justify-content: flex-start;
}

.image {
    width: 100%;
}

.image img {
    width: 70%;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
 
.navigation a:hover {
    color:#0065FC;
    padding: 1rem;
    border-top: 2px solid #0065FC;
}

a {
    color: black;
    text-decoration: none;
}

.navigation a {
    margin: 0 1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.navigation .subscribe {
    color: #0065FC;
    font-weight: 600;
}

h1 {
    margin-right: 0px;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    margin-right: 0px;
    font-size: 12px;
}

h3 {
    font-size: 17px;
}

.grey-text {
    color: rgba(0, 0, 0, 0.6);
}

.loc-icon {
    border: 1px solid grey;
    background-color: #F2F2F2;
    padding: 0.6rem;
    border-radius: 10px 0 0 10px;
    text-align: center;
    font-size: 0.7rem;
}
.search-bar {
    display: flex;
}
.search-bar input {
    width: 10rem;
    border: 1px solid grey;
    padding: 0.5rem; 
    border-left: none;
    border-right: none;
}

.search-bar button {
    background-color: blue;
    color:white;
    border: 1px solid blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5rem;
}

.filter {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.filterTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.fourFilters {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    border: 2px solid #d9d9d9;
    border-radius: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.fourFilters span {
    padding: 0.5rem;
}

.fourFilters:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);

}
.icons {
    background-color: #DEEBFF;
    border-radius: 100%;
    min-height: 2rem;
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: blue;
    padding: 0.2rem;
}
 
.fourFilters {
    margin: 1 1rem;
}

.fa-info {
    color: blue;
}

.info {
    display: flex;
    align-items: center;
    padding: 0rem 0;
}

.info-icon{
    border: 1px solid grey;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem; 
}

/*choice*/

.choice {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    padding: 0rem 2.5vw;
    column-gap: 2rem;
}

.populaires {
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.popu-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.popu-icon {
    font-size: 1.4rem;
    padding: 0.75rem;
}

.hebergements {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 0.5rem;
    height: 30rem;
    width: 69%;
    display: flex;
    flex-wrap: wrap;
}

.location {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2rem;
}

.location-popu {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
}

.case-h {
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 1.5rem;
    width: 10rem;
    height: 8.5rem;
    padding: 0.2rem;
}

.case-p {
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 1.5rem;
    width: 85%;
    height: 6rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
}

.case-h img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 5rem;
    object-fit: cover;
}

.case-p img {
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hotel_le_soleil_du_matin {
    width: 100px;
}

#au_coeur_de_leau {
    width: 100px;
}

#hotel_tout_bleu_et_blanc {
    width: 100px;
}

.text-p {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.fa-star--blue {
    color: blue;
    font-size: 0.75rem;
}

.fa-star--grey {
    color: grey;
    font-size: 0.75rem;
}

h4 {
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 12px;
}

h5 {
    font-size: 11px;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}

.star-icon {
    width: 1rem;
    height: 1rem;
    display: flex;
}

.choice-title {
    margin-left: 1.5rem;
}

.more {
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 12px;
}

/*activity*/

.activity {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 4rem 0;
    padding: 0rem 2.5vw;
}

.activity-title {
    grid-column: 1/-1;
}

.activity-box {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
}

.activity-box:hover {
    transform: scale(1.01);
}

.activity-img {
    position: relative;
    flex: 1;
}

.activity-img-photo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activity-img-title {
    margin: 1.2rem 1.5rem;
}

.activity-box--1 {
    grid-area: 1 / 1 / 3 / 2;
    height: 27.5rem;
}

.activity-box--2 {
    grid-area: 1 / 2 / 2 / 3;
}

.activity-box--3 {
    grid-area: 2 / 2 / 3 / 3;
}

.activity-box--4 {
    grid-area: 1 / 3 / 3 / 4;
    height: 27.5rem;
}

.activity-box--5 {
    grid-area: 1 / 4 / 2 / 5;
}

.activity-box--6 {
    grid-area: 2 / 4 / 3 / 5;
}

/*footer*/

footer {
    background-color: #F2F2F2;
    width: 100%;
  }

.footer-column-all {
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.footer-column {
    width: 150px;
    padding: 2rem 2rem;
}

.footer-items {
    display: block;
    margin: 1rem 0;
}

.footer-items:hover {
    text-decoration: underline;
}

footer a {
    font-size: 10px;
}

footer h5 {
    font-weight: bold;
}
  